Source: ::package_name::
Section: ::package_category::
Priority: ::package_priority::
Maintainer: ::package_author::
Build-Depends: debhelper-compat (= 13),
               dh-python,
               cython3,
               libnvpair3,
               libuutil3,
               libzfs5,
               libzfs5-devel,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.4.1
X-Python3-Version: >= 3.6
Homepage: ::package_url::

Package: ::package_name::
Architecture: ::package_architecture_deb::
Depends: ::package_dependencies_deb::
Description: ::package_description_short::
