%global __python3 /usr/bin/python3.6
%global python3_pkgversion 36

Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRequires: python3.6
BuildRequires: python3.6-devel
BuildRequires: python3.6-pip
BuildRequires: python3.6-setuptools
BuildRequires: python3.6-distutils

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
echo "Starting build process..."
/usr/bin/python3.6 -m pip install --upgrade pip
/usr/bin/python3.6 -m pip install Cython==0.29.35
./configure --prefix=/usr
make

%install
echo "Starting install process..."
/usr/bin/python3.6 setup.py install --single-version-externally-managed -O1 \
  --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES
  
%clean
rm -rf $RPM_BUILD_ROOT

%files -f INSTALLED_FILES

%changelog
* Tue Aug 05 2025 Jordan Keough <jkeough@45drives.com> 2.1.2-1
- Testing explicit python3.6 version
* Mon Nov 11 2024 Jordan Keough <jkeough@45drives.com> 2.2.1-5
- update build deps
* Mon Nov 11 2024 Jordan Keough <jkeough@45drives.com> 2.2.1-4
- updated build dependencies
* Mon Nov 11 2024 Jordan Keough <jkeough@45drives.com> 2.2.1-3
- fix broken build version
* Mon Nov 11 2024 Jordan Keough <jkeough@45drives.com> 2.2.1-2.2.1
- updated package dependancies
* Mon Nov 11 2024 Jordan Keough <jkeough@45drives.com> 2.2.1-1
- first release for zfs-2.2 support
* Mon Nov 04 2024 Jordan Keough <jkeough@45drives.com> 1.0.0-1
- Stable Release
* Mon Oct 21 2024 Jordan Keough <jkeough@45drives.com> 0.1.3-1
- Adds trim status tracking as originally intended
* Thu Jul 11 2024 Jordan Keough <jkeough@45drives.com> 0.1.2-1
- Updating version number
* Thu Jul 11 2024 Jordan Keough <jkeough@45drives.com> 0.1.1-2
- Adds ubuntu-focal support
* Thu Jul 11 2024 Jordan Keough <jkeough@45drives.com> 0.1.1-1
- Packaging for focal
* Fri May 24 2024 Jordan Keough <jkeough@45drives.com> 0.1.0-2
- updating for jammy
* Fri Mar 08 2024 Jordan Keough <jkeough@45drives.com> 0.1.0-1
- initial release